body {
    
    color: #444;
    font-size: 2em;
}

h1{
    font-family: 'Pacifico', cursive;
}

.container{
  margin: 50px auto auto auto;
}

#main-container{
    border: 1px solid white;
    width: 50vw;
    margin: 50px auto 20px auto;
    padding-top: 30px;
    border-radius: 2px;
    min-height: 200px;
}

  
#authorContainer {
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 40px;
    font-style: italic;
    font-size: 0.8em;
}

button {
    margin-bottom: 80px;
}


.btn {
    margin: 5px;
}


/*   STICKY FOOTER              */
html{
    min-height: 100%;
    position: relative;
}
body{
    margin-bottom: 50px;
}

footer{
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ddd;
    padding-top: 10px;
    background-color: #666;
    font-size: small;
}

